@import "../../styles";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $gray-light;

  &--link {
    margin-right: 10px;
    color: $gray-darker;
  }

  &--active-link {
    color: $brand-info;
  }

  &--login-logout {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid $brand-success;
    background-color: $brand-success;
    cursor: pointer;
    transition: all .3s;
    text-decoration: none;
    color: #fff;
    font-size: 16px;

    &:hover {
      border: 1px solid darken($brand-success, 5%);
      background-color: darken($brand-success, 5%);
    }
  }
}
