<header class="header">
  <div>
    <a class="header--link" routerLink="/home">Home</a>
    <a  class="header--link" routerLink="/users">Users</a>
  </div>
  <button
     *ngIf="!authService.status; else elseBlock"
     mat-raised-button
     color="primary"
     (click)="logIn()"
  >
    LogIn
  </button>
  <ng-template #elseBlock>
    <button
      (click)="logOut()"
      mat-raised-button
      color="primary"
    >
      LogOut
    </button>
  </ng-template>
</header>
