<div class="user-page">
  <mat-radio-group>
    <mat-radio-button
      value="1"
      class="m-right-1x"
      [checked]="divBlock"
      (click)="changeVersion('div')"
      color="primary"
    >
      Div version
    </mat-radio-button>
    <mat-radio-button
      value="2"
      (click)="changeVersion('tabl')"
      [checked]="tableBlock"
      color="primary"
    >
      Tabl version
    </mat-radio-button>
  </mat-radio-group>

  <mat-form-field class="user-page__form-field">
    <input matInput type="text" placeholder="Search user" (keyup)="inputChange()" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="user-page__user-list">
    <app-user-list-table *ngIf="tableBlock; else elseBlock" [users]="users"></app-user-list-table>
    <ng-template #elseBlock>
      <app-user-list *ngFor="let user of users"  [user]="user"></app-user-list>
    </ng-template>
  </div>
</div>
