.user-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;

  .m-right-1x {
    margin-right: 10px;
  }

  &__form-field {
    width: 200px;
  }
}
