<table cellspacing="2" border="1" cellpadding="5" width="500" *ngIf="users.length">
  <tr *ngFor="let user of users">
    <td>Login: {{ user.login }}</td>
    <td> <a class="user-page--user-info" [routerLink]='["/user/" ,user.login]'>Details</a> </td>
    <td><a class="user-page--user-info" target="_blank" href={{user.html_url}}>GitHub page</a></td>
  </tr>
</table>
