<div class="user-page__current-user" >
  <span class="user-page--user-info">Login: {{ user.login }}</span>
  <a class="user-page--user-info" [routerLink]='["/user/" ,user.login]'>Details</a>
  <a class="user-page--user-info" target="_blank" href={{user.html_url}}>GitHub page</a>
</div>
