.user-page {
  &__user-list {
    width: 300px;
    margin-top: 15px;
  }

  &__current-user {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 23px;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-size: 16px;
  }
  &--user-info {
    padding-bottom: 10px;
  }
}
