.user {
  display: flex;
  width: 500px;
  margin-left: 15px;
  margin-top: 25px;

  &--logo {
    width: 250px;
  }
  &__info {
    width: 250px;
    margin-left: 10px;
  }
  &--info {
    margin-bottom: 10px;
  }
}
