<div class="user" *ngIf="displayInfo">
  <img class="user--logo" [src]='currentUser.avatar_url' alt="">
  <div class="user__info">
    <p class="user--info">User login: {{ currentUser.login }} </p>
    <p class="user--info">User name: {{ currentUser.name }}  </p>
    <p class="user--info">User location: {{ currentUser.location }}  </p>
    <p class="user--info">Profile creation: {{ currentUser.created_at | date }}  </p>
    <a [href]='currentUser.html_url' target="_blank" class="user--info">GitHub page </a>
  </div>
</div>
