/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$gray-darker:            #212121;
$gray-dark:            	 #616161;
$gray:                   #9E9E9E;
$gray-light:             #E0E0E0;
$gray-lighter:           #F5F5F5;


$brand-primary:         #2196F3;
$brand-info:		   	    #00bcd4;
$brand-success:         #4CAF50;
$brand-warning:         #FF9800;
$brand-danger:          #F44336;
$brand:                 $brand-info;

body {
  margin: 0;
  padding: 0;
}
